{% extends "myadmin/base.html" %}
{% block mainbody %}
<h3>
    试题信息管理
</h3>
<form id="edit-profile" action="{% url 'myadmin_tests_update' user.id %}" class="form-horizontal" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>查看/编辑试题信息</legend>
        <div class="control-group">
            <label class="control-label" for="input01">题目：</label>
            <div class="controls">
                <input type="text" name="name" class="input-xlarge" id="input01" value="{{ user.name }}" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input01">内容：</label>
            <div class="controls">
                <textarea cols="40" style="width:450px" rows="8" name="content">{{ user.content }}</textarea>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="input01">答案：</label>
            <div class="controls">
                <textarea cols="40" style="width:450px" rows="10" name="answer" >{{ user.answer }}</textarea>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">保存</button> <button type="reset" class="btn">重置</button>
        </div>
    </fieldset>
</form>
{% endblock %}